@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  height: 200px;
  background-color: var(--bg-dark);
}

.container {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 195px;
  margin-top: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.logo__image {
  width: 50px;
  height: 34px;
  background-image: url('../assets/svg/logo.svg');
}

.logo__title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-main-text);
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white-color);
}

.navigation__list {
  margin-top: 74px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navigation__list-item:nth-child(even) {
  margin-left: 76px;
  margin-right: 76px;
}

.navigation__list-link,
.footer__navigation-link {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size-description);
  line-height: 50px;
  letter-spacing: 2px;
  color: var(--white-color);
}

.navigation__list-link:hover {
  color: var(--gold-color);
}

.welcome {
  height: 750px;
  background-color: var(--bg-dark);
  display: flex;
}

.welcome__content {
  width: 598px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  z-index: 5;
  left: calc(100% - 400px);
}

.title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-main-title);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.welcome__content-title {
  color: var(--white-color);
}

.welcome__content-text {
  margin-top: 26px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size-main-text);
  line-height: 33px;
  letter-spacing: 2px;
  color: var(--white-color);
}

.welcome__content-link {
  margin-top: 76px;
  padding: 25px 60px;
  width: 360px;
  height: 75px;
  background-color: var(--bg-dark-red);
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size-description);
  line-height: 26px;
  letter-spacing: 2px;
  color: var(--white-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.welcome__content-link:hover {
  background-color: var(--gold-color);
}

.welcome__image {
  z-index: 0;
  width: 1215px;
  height: 750px;
  background-image: url('../assets/images/welcome-bg.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}

.visiting {
  height: 1265px;
  background-color: var(--white-color);
}

.visiting__content {
  margin-top: 75px;
  margin-bottom: 75px;
}

.visiting__content-title {
  padding-bottom: 25px;
  color: var(--gold-color);
  border-bottom: 3px solid var(--bg-dark-red);
}

.visiting__cards {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 78px;
  column-gap: calc((100% - 1320px) / 2);
}

.visiting__card {
  width: 440px;
}

.visiting__card-image {
  width: 440px;
  height: 285px;
}

.visiting__card-title {
  margin-top: 25px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-card-title);
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black-color);
}

.visiting__card-title::after {
  content: '';
  padding-top: 9px;
  width: 300px;
  display: flex;
  border-bottom: 3px solid var(--bg-dark-red);
}

.text {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 200;
  color: var(--black-color);
}

.visiting__card-text {
  margin-top: 10px;
  font-size: var(--font-size-text);
  line-height: 26px;
}

.visiting__card-desc {
  margin-top: 11px;
  font-size: var(--font-size-card-desc);
  line-height: 21px;
}
