:root {
  --primary-font-family: 'Merriweather', serif;
  --secondary-font-family: 'Inter', sans-serif;
  --bg-color: #000000;
  --main-color: #ffffff;
  --gold-color: #bdae82;
  --bold-font-weight: 700;
  --normal-font-weight: 400;
}

@media screen and (max-width: 768px) {
  .header__container {
    width: 100vw;
  }
  .header__logo {
    margin: 20px 57% 20px 60px;
  }
  .header__nav-list {
    display: none;
  }
  .burger__menu {
    margin: 11px 64px 11px 20px;
    display: block;
    height: 28px;
    width: 50px;
    z-index: 5;
    position: relative;
    cursor: pointer;
  }
  .burger__menu span,
  .burger__menu::before,
  .burger__menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--main-color);
  }
  .burger__menu::before,
  .burger__menu::after {
    content: '';
  }
  .burger__menu::before {
    top: 0;
  }
  .burger__menu::after {
    bottom: 0;
  }
  .burger__menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .burger__menu.active span {
    transform: scale(0) translate(0px, -50%);
    transition-duration: 0.25s;
  }
  .burger__menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    transition-duration: 0.25s;
  }
  .burger__menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    transition-duration: 0.25s;
  }
  .hero {
    height: 590px;
    background-position: 25px -20px;
  }
  .hero__content {
    margin-top: 78px;
    margin-left: 60px;
    width: 390px;
  }
  .hero__content-title {
    font-weight: var(--normal-font-weight);
    font-size: 32px;
    line-height: 64px;
  }
  .hero__content-text {
    width: 390px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__content-btn {
    margin-top: 60px;
  }
  .skills {
    height: 729px;
  }
  .skills::before {
    content: '';
    width: 364px;
    top: 102px;
  }
  .title {
    width: 152px;
    padding-top: 80px;
    font-size: 32px;
    line-height: 40px;
  }
  .skills__items {
    flex-wrap: wrap;
    margin-top: 36px;
  }
  .skills__item {
    width: 300px;
    height: 224px;
  }
  .skills__item:nth-child(2),
  .skills__item:nth-child(4) {
    margin-left: 44px;
  }
  .skills__item:nth-child(3) {
    margin-left: 0;
  }
  .skills__item:nth-child(3),
  .skills__item:nth-child(4) {
    margin-top: 36px;
  }
  .skills__item-title {
    margin-top: 30px;
  }
  .skills__item-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .portfolio::before {
    content: '';
    width: 364px;
    top: 102px;
  }
  .portfolio__title {
    width: 185px;
  }
  .portfolio__wrapper-btn {
    margin-top: 50px;
    width: 445px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .video::before {
    content: '';
    width: 364px;
    top: 102px;
  }
  .video__player {
    margin-top: 50px;
    width: 100vw;
    height: 418px;
    background-image: url('../assets/images/video-player.jpg');
    background-size: cover;
    background-position: -15px center;
  }
  .video__player-btn {
    height: 418px;
  }
  .video__player-icon {
    width: 75px;
    height: 75px;
  }
  .price {
    height: 1905px;
  }
  .price::before {
    content: '';
    width: 364px;
    top: 102px;
  }
  .price__items {
    flex-direction: column;
    margin-top: 50px;
  }
  .price__item {
    width: 420px;
  }
  .price__item:nth-child(2) {
    margin: 50px 0;
  }
  .contacts {
    height: 600px;
    align-items: center;
    background-position: center center;
    background-size: cover;
  }
  .contacts__title {
    width: 450px;
    text-align: center;
  }
  .contacts__form {
    width: 450px;
    margin-right: 0;
    align-items: center;
  }
  .contacts__form-input {
    background-color: var(--bg-color);
    opacity: 0.5;
  }
  .contacts__form-message {
    background-color: var(--bg-color);
    opacity: 0.5;
  }
}
